:root {
	font-family: "Libre Baskerville", serif;
	font-size: 14px;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

.container {
	display: flex;
	max-width: 960px;
	margin: 10px auto;
	justify-content: space-between;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.profile {
	flex-basis: 35%;
	background-color: #39383a;
	color: #ababab;
}

.lang-container {
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}

.lang-btn {
	border: 1px solid #fff;
	background-color: #39383a;
	border-radius: 50px;
	padding: 4px 15px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.lang-btn:first-child {
	margin-right: 10px;
}

.lang-btn:hover {
	color: #39383a;
	background-color: #fff;
	transition: all 0.3s;
}

.profile-photo {
	height: 230px;
	background-image: url(../img/profile-photo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.profile-info {
	padding: 30px 30px 70px 30px;
}

.profile-text {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 50px;
}

.heading {
	padding-bottom: 16px;
	text-transform: uppercase;
	font-weight: 500;
}

.heading-light {
	color: #fff;
	border-bottom: 2px #5a5a5a dashed;
}

.contacts {
	margin-bottom: 70px;
}

.contacts-title {
	color: #fff;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 400;
}

.contacts-text {
	color: #ababab;
	text-decoration: none;
	padding-left: 27px;
	line-height: 20px;
}

.contacts-text:hover {
	text-decoration: underline;
}

.contacts-item {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px #5a5a5a dashed;
}

address {
	font-style: normal;
}

.fas {
	margin-right: 7px;
}

.languages {
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
}

.language {
	width: 100px;
	height: 100px;
	border: 6px solid #5c5c5c;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 30px 30px 0;
}

.language:nth-child(3) {
	margin-bottom: 0;
}

.language-text {
	text-transform: uppercase;
	font-size: 11px;
}

.language-per {
	font-size: 15px;
}

.lines {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.line {
	display: block;
	width: 90px;
	height: 2px;
	background-color: #5c5c5c;
	margin-bottom: 10px;
	margin-top: 10px;
}

.line:nth-child(2) {
	width: 100px;
	margin-left: 20px;
}

.resume {
	padding: 25px 30px;
	flex-basis: 63%;
	background-color: #fff;
}

.resume-wrap {
	border: 1px solid rgba(168, 168, 168, 0.44);
	padding: 36px 56px;
	min-height: 100%;
}

.logo {
	display: flex;
	justify-content: center;
	margin-bottom: 38px;
}

.logo-image {
	width: 90px;
	height: 90px;
	border: 1px solid #39383a;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-lines {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-left: 17px;
	margin-right: 17px;
}

.logo-line {
	width: 43px;
	height: 2px;
	background-color: #39383a;
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo-lines__left .logo-line:nth-child(2) {
	margin-right: 20px;
	width: 55px;
}

.logo-lines__right .logo-line:nth-child(2) {
	margin-left: 20px;
	width: 55px;
}

.about {
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 30px;
	margin-bottom: 40px;
}

.name {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 10.5px;
	margin-bottom: 10px;
}

.about-address {
	font-size: 13px;
	margin-bottom: 15px;
}

.about-contacts {
	font-size: 10px;
}

.about-contacts__link {
	text-decoration: none;
	color: #777777;
}

.heading-dark {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 37px;
	margin-top: 50px;
}

.list {
	list-style: none;
}

.list-item {
	padding-left: 40px;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 2px dashed #ececec;
}

.list-item:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #000;
}

.list-item__title {
	font-size: 14px;
}

.list-item__date {
	font-size: 11px;
	text-transform: uppercase;
}

.list-item__text {
	font-size: 13px;
	color: #777777;
}

.list-item__borderNone {
	border: none;
}

.heading-skills {
	margin-bottom: 48px;
}

.skills-list {
	list-style: none;
	padding-left: 0;
}

.skill-list__addition {
	list-style-type: circle;
}

.skill-list__addition li {
	margin-bottom: 20px;
}

.skills-list__item {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.level {
	width: 70%;
	height: 8px;
	border: 1px solid #39383a;
	position: relative;
}

.level:before {
	position: absolute;
	content: "";
	height: 100%;
	background-color: #898989;
}

.level-html:before {
	width: 98%;
}

.level-css:before {
	width: 98%;
}

.level-js:before {
	width: 40%;
}

.level-ps:before {
	width: 45%;
}

.heading-skills__addition {
	margin-top: 50px;
}

.skill-list__additionUK {
	font-size: 16px;
}

.list-item__titleUK {
	font-size: 16px;
}
.list-item__dateUK {
	font-size: 13px;
}
.list-item__textUK {
	font-size: 15px;
}

.profile-textUK {
	font-size: 15px;
}
